*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; padding: 0; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0D1520; }
::-webkit-scrollbar-thumb { background: #1F2937; border-radius: 4px; }
